.cardInfoForm {
  --gap-standard: 1rem;
  --gap-sm: 0.25rem;
  --border-radius: 0.25rem;

  display: flex;
  flex-direction: column;
  align-content: start;
  text-align: start;
  gap: var(--gap-standard);
  max-width: 25rem;

  margin-top: 2rem;

  .formField {
    display: flex;
    flex-direction: column;
  }

  .formFieldGroup {
    display: flex;
    gap: var(--gap-standard);

    input {
      max-width: 4rem;
    }
  }

  .formDateInput {
    display: flex;
    gap: var(--gap-sm);
  }

  .error {
    font-size: 0.8rem;
    font-style: italic;
  }
}
